.navbarleft{
  width: 60px;
  transition: width ease-out 0.1s;
}
.textStyle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  left: 0;
  transition: all ease-out 0.07s;
}
.navbarleft:hover {
    width: 200px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.6);
    .textStyle{
      visibility: visible;
      opacity: 1;   
      left: 10px;
    }
}
